/* UserTable.css */
.user-table {
    border-collapse: collapse;
    width: 100%;
    background-color: #000; /* Background color set to black */
    color: #fff; /* Text color set to white */
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: left;
  }
  
  .user-table th {
    background-color: #000;
    color: #fff;
  }
  
  .table-header {
    text-align: center;
    margin-bottom: 20px; }

  .user-table img {
    max-width: 50px;
    max-height: 50px;
  }
  
  body {
    background-color: #000; 
    color: #fff; 
  }
  